html, body {
	height: 100%
}

h1
{
	font-family: "chlorinapregular", Arial;
	text-align: center;
	color: #cc0000;
	font-size: 5em;
}

#canvas_container
{
	width: calc(100% - 30px);
	height: 80%;
	margin: auto;
	position: relative;
	padding: 0px;
	border: solid white 2px;
	overflow: hidden;
}


#hit_div
{
	position: absolute;
	display: none;
	top: 0px;
	left:0px;
	background-color: red;
	opacity: 0.4;
}



#game_container, #player_container
{
	position: absolute;
	top: 0px;
	left: 0px;
	padding: 0px;
}

#game_container
{
	background-image: url("../img/back3.png");
	background-size: auto 560px;
}

#visible_area
{
	position: absolute;
	top:0px;
	left: 0px;
}

body
{
	background-image: url("../img/web_pat.jpg");
}

#fps_p
{
	position: absolute;
	bottom: 5px;
	left: 5px;
	color: white;
}

#lifes_p 
{
	position: absolute;
	bottom: 5px;
	right: 5px;
	color: white;
}

#win_div
{
	background-color: green;
	position: absolute;
	top: 0px;
	left: 0px;
	font-size: 3em;
	font-family: chlorinapregular, "Myriad Pro";
	text-align: center;
	display: none;
	color:white;
}


@font-face {
    font-family: 'chlorinapregular';
    src: url('../fonts/chlorinp-webfont.woff2') format('woff2'),
         url('../fonts/chlorinp-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

